Django==4.2.2
djangorestframework==3.16.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1
pillow==11.1.0
sqlparse==0.5.3
tzdata==2024.2
asgiref==3.8.1
dotenv==0.9.9
rest-framework-simplejwt==0.0.2
django-filter==25.1
djangorestframework_simplejwt==5.5.0
